<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ site.title }}{% if page.title %} / {{ page.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}" />
    <meta name="keywords" content="{{ site.keywords }}" />
    <meta content="{{ site.author }}" name="author" />
    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">

    <!-- CSS here -->
    <link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/assets/css/owl.carousel.min.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/assets/css/magnific-popup.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/assets/css/font-awesome.min.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/assets/css/themify-icons.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/assets/css/nice-select.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/assets/css/flaticon.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/assets/css/gijgo.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/assets/css/animate.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/assets/css/slicknav.css' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | prepend: site.baseurl }}">

</head>