
<!-- JS here -->
<script src="{{ '/assets/js/vendor/modernizr-3.5.0.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/vendor/jquery-1.12.4.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/popper.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/bootstrap.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/owl.carousel.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/isotope.pkgd.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/ajax-form.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/waypoints.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/jquery.counterup.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/imagesloaded.pkgd.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/scrollIt.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/jquery.scrollUp.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/wow.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/nice-select.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/jquery.slicknav.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/jquery.magnific-popup.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/plugins.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/gijgo.min.js' | prepend: site.baseurl }}"></script>
<!--contact js-->
<script src="{{ '/assets/js/contact.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/jquery.ajaxchimp.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/jquery.form.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/jquery.validate.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/mail-script.js' | prepend: site.baseurl }}"></script>

<script src="{{ '/assets/js/main.js' | prepend: site.baseurl }}"></script>