<!-- header-start -->
<header>
    <div class="header-area ">
        <div class="header-top_area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6 col-md-12 col-lg-8">
                        <div class="short_contact_list">
                            <ul>
                                <li><a href="#"> <i class="fa fa-phone"></i> +57 3156536940</a></li>
                                <li><a href="#"> <i class="fa fa-envelope"></i>fundacionplanetaazul@gmail.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 col-lg-4">
                        <div class="social_media_links d-none d-lg-block">
                            {% if site.facebook_url %}
                            <a href="{{ site.facebook_url }}">
                                <i class="fa fa-facebook"></i>
                            </a>
                            {% endif %}
                            {% if site.instagram_url %}
                            <a href="{{ site.instagram_url }}">
                                <i class="fa fa-instagram"></i>
                            </a>
                            {% endif %}
                            {% if site.linkedin_url %}
                            <a href="{{ site.linkedin_url }} ">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            {% endif %}
                            {% if site.twitter_url %}
                            <a href="{{ site.twitter_url }}">
                                <i class="fa fa-twitter"></i>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-3">
                        <div class="logo">
                            <a href="/">
                                <img src="{{site.baseurl}}/assets/images/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-9">
                        <div class="main-menu">
                            <nav>
                                <ul id="navigation">
                                    <li><a href="#">Conócenos<i class="ti-angle-down"></i></a>
                                        <ul class="submenu">
                                            <li><a href="/paginas/acerca-de-la-fundacion.html">Acerca de la fundación</a></li>
                                            <li><a href="/paginas/nuestro-fundador.html">Nuestro fundador</a></li>
                                            <li><a href="/paginas/nuestro-equipo.html">Nuestro equipo</a></li>
                                            <li><a href="/paginas/mision.html">Misión</a></li>
                                            <li><a href="/paginas/vision.html">Visión</a></li>
                                        </ul>
                                    </li>

                                    <li><a href="#">Invenstigación<i class="ti-angle-down"></i></a>
                                        <ul class="submenu">
                                            <li><a href="/paginas/escuela-de-pescadores.html">Escuela de pescadores</a></li>
                                            <li><a href="/paginas/pescando-para-la-vida.html">Pescando para la vida</a></li>
                                            <li><a href="/paginas/agro-camaricultura-social.html">Agro Camaricultura Social</a></li>
                                            <li><a href="/paginas/estudio-sobre-las-especies-icticas.html">Estudio sobre las especies ícticas</a></li>

                                        </ul>
                                    </li>

                                    <li><a href="#">Educación<i class="ti-angle-down"></i></a>
                                        <ul class="submenu">
                                            <li><a href="/paginas/primer-contacto-con-el-mar.html">Primer contacto con el mar</a></li>
                                            <li><a href="/paginas/macroporyecto-guanhumi.html">Macroporyecto Guanhumi</a>
                                                <ul class="submenu">
                                                    <li><a href="/paginas/feria-de-las-ciencias-del-mar.html">Feria de las Ciencias del Mar</a></li>
                                                    <li><a href="/paginas/curriculo-del-manglar.html">Currículo del Manglar</a></li>
                                                    <li><a href="/paginas/vida-marina-y-pesca-artesanal.html">Vida marina y pesca artesanal</a></li>
                                                    <li><a href="/paginas/marinos-con-valores.html">Marinos con valores</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>

                                    <li><a href="#">Navegando por Cartagena<i class="ti-angle-down"></i></a>
                                        <ul class="submenu">
                                            <li><a href="/paginas/linea-i-educacion.html">Línea I - Educación</a></li>
                                            <li><a href="/paginas/linea-ii-planeacion-participativa.html">Línea II - Planeación participativa</a></li>
                                            <li><a href="/paginas/linea-iii-productiva.html">Línea III - Productiva</a></li>
                                        </ul>
                                    </li>

                                    <li><a href="/paginas/modelo-triada.html">Modelo TRIADA</a></li>

                                    <li><a href="#">Únete ahora<i class="ti-angle-down"></i></a>
                                        <ul class="submenu">
                                            <li><a href="/paginas/voluntariado.html">Voluntariado</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header-end -->
