---
layout: default
---

{% include navbar.html %}

{{ content }}

<!-- footer_start  -->
<footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-md-6 col-lg-6">
                    <div class="footer_widget">
                        <div class="footer_logo">
                            <a href="#">
                                <img src="{{site.baseurl}}/assets/images/logo.png" alt="">
                            </a>
                        </div>
                        <p class="address_text">Una organización que investiga, enseña y trabaja la cultura hacia el Mar!
                        </p>
                        <div class="socail_links">
                            <ul>
                                {% if site.facebook_url %}
                                <li>
                                    <a href="{{ site.facebook_url }}">
                                        <i class="ti-facebook"></i>
                                    </a>
                                </li>
                                {% endif %}
                                {% if site.twitter_url %}
                                <li>
                                    <a href="{{ site.twitter_url }}">
                                        <i class="ti-twitter-alt"></i>
                                    </a>
                                </li>
                                {% endif %}
                                {% if site.linkedin_url %}
                                <a href="{{ site.linkedin_url }}">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                {% endif %}
                                {% if site.instagram_url %}
                                <li>
                                    <a href="{{ site.instagram_url }}">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                {% endif %}

                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-xl-6 col-md-6 col-lg-6">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Contacto
                        </h3>
                        <div class="contacts">
                            <p>+57 3156536940 <br>
                                fundacionplanetaazul@gmail.com <br>
                                Cl. 67 #13-40, Cartagena de Indias, Provincia de Cartagena, Bolívar, Colombia
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right_text">
        <div class="container">
            <div class="row">
                <div class="bordered_1px "></div>
                <div class="col-xl-12">
                    <p class="copy_right text-center">
                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos los derechos reservados | Esta plantilla fue hecha con <i class="ti-heart" aria-hidden="true"></i> por <a href="https://colorlib.com" target="_blank">Colorlib</a> y adaptado por <a href="https://sergiosusa.com" target="_blank">Sergio Susa</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer_end  -->

{% include javascript.html %}